.top{
  height: 100px;
  width:100px;
  background-color: red;
  position:relative;
  left:200px;
}
.middle{
  height: 100px;
  width:100px;
  background-color:yellow ;
  position:relative;
  bottom: 100px;
  left:100px;
}
.bottom{
  height: 100px;
  width:100px;
  background-color:blue ;
  position:relative;
  bottom: 200px;
  
}
