.top{
  background-color: red;
  height: 100px;
  width: 100px;
  display: inline-block;
  position: relative;
  left: 200px;
}
.middle{
  background-color:yellow ;
  height: 100px;
  width: 100px;
  display: inline-block;
  position: relative;

}
.bottom{
  background-color:blue;
  height: 100px;
  width: 100px;
  display: inline-block;
  position: relative;
  right:200px;
}
